body{
    font-family: Poppins;
}

.advertise{
    /* height: 85px; */
    background-color: rgb(201, 201, 201);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    position: sticky;
    top: 0;
    z-index: 2000;
    /* opacity: 1; */
}

.advertise-row{
    padding: 15px;
}

.join-now{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.intro1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 60px;
}

.my-active{
    border-bottom: 4px solid #FF4444;
}

.manual-sticky{
    position: sticky;
    top: 13%;
    z-index: 2000;
}

@media screen and (max-width: 768px){
    .manual-sticky{
        top: 22%;
    }
}




/* ============= HOME RJ============= */
.sign-up-header{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  color: #222222;
}

.sign-up-para{
  font-weight: 500;
  font-size: 16px;
  line-height: 139.69%;
  /* or 22px */
  text-align: center;
  color: #222222;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

.btn-social:hover {
  color: #eee;
}

.btn-social :first-child {
  /* position: absolute;
  left: 0;
  top: 0;
  bottom: 0; */
  width: 40px;
  padding: 7px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.get-started{
  background: linear-gradient(90deg, #FF5D17 0%, #FFA114 100%);
}
  .explore-career .foreign-internships .card{
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .explore-career .corporates .card{
    height: 156px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .explore-career .foreign-internships .card p{
    color: black;
  }

  .mentor-stories .stories .card,
  .mentor-stories .beg-adv .card{
    border-radius: 25px;
    /* box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.04); */
  }
  .mentor-stories .stories .border-line{
    border: 2px solid #6c757d;
    position: relative;
    top: 30px;
    
  }
  
  /* .mentor-stories .stories .icon-container .icon-div {
    position: relative;
    top: 4.5rem;
  } */
  .mentor-stories .stories div p>i{
    border: 1px solid #6c757d;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
  }

  .mentor-stories .beg-adv .border-line{
    border: 2px solid rgba(252, 111, 50, 0.6);
    position: relative;
    top: 14px;
    margin: 0 7rem;    
  }

  .beg-adv{
    padding-top: 100px;
  }

.welcome{
  color: #268AFF;
}

.rectangle-209{
  width: 21px;
  height: 40px;
  background: #C4C4C4;
  margin: 5px;
  margin-left: 45%;
}

.rectangle-210{
  width: 21px;
  height: 40px;
  background: #C4C4C4;
  margin: 5px;
  margin-left: 40%;
}

.rectangle-211{
  width: 21px;
  height: 62px;
  background: #C4C4C4;
  position: relative;
  bottom: 17px;
}

.exclusive{
  background: #EAF5FF;
  border-radius: 10px;
  /* border-radius: 10%; */
  padding: 50px;
  margin-bottom: 50px;
}
.exclusive .exclusive-card{
    border-radius: 20px;
}

.ellipse-72{
  width: 77px;
  height: 77px;
  background: #C4C4C4;
  border-radius: 50%;
  margin: 10px;
  margin-left: 38%;
}

/* ============= HOME RJ============= */

/* Field */

.field-header{
  width: 100%;
  min-height: 70vh;
  /* background: linear-gradient(270deg, rgba(191, 191, 191, 0) 32.97%, #000000 105.39%); */
  background-image: url('img/field-header.jpeg');
  background-attachment: fixed;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;   
}

.filed-container{
  background: linear-gradient(270deg, rgba(191, 191, 191, 0) 32.97%, #000000 105.39%);
  z-index: 10;
  min-height: 70vh;
  width: 100%; 
}

.manual-sticky-2{
  position: sticky;
  top:50px;
  z-index: 2000;
}

.exclusive-mentorship{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 128.3%;

  /* or 21px */

  color: #ED4337;

  opacity: 0.7;
}
.btn-1{
  background: rgba(252, 88, 42, 0.07);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #FC582A;
  border-radius: 0px 0px 0px 10px;
}

.btn-2{
  background: #FF6A41;
  border-radius: 0px 0px 10px 0px;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
}

.btn-accordion{
  font-weight: normal;
  font-size: 16px;
  line-height: 144%;

  /* identical to box height, or 23px */

  color: #222222 !important;
}

/* About Us */
.aboutus-header{
  width: 100%;
  min-height: 70vh;
  /* background: linear-gradient(270deg, rgba(191, 191, 191, 0) 32.97%, #000000 105.39%); */
  background-image: url('img/aboutus.png');
  background-attachment: fixed;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;   
}

.aboutus-container{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 25.48%, rgba(255, 255, 255, 0.85) 115.44%);
  z-index: 10;
  min-height: 70vh;
  width: 100%; 
}

.about-text{
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.08em;

  color: #222222;
  margin-bottom: 100px;
}

.custom-bullet{
  padding-left: 0;
  padding-top: 40px;
}

.custom-bullet li {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.08em;

  color: #000000;
}

.custom-bullet i{
  color: #666666;
  padding: 10px;
  font-size: small;
}
